<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/user_sign_up.css">



<!-- <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div> -->
<form action="/users/create" method="POST">
    <h3>Sign Up</h3>

    <label for="username">Username</label>
    <input type="text" name="name" placeholder="Your name" id="username" required>

    <label for="useremail">Email</label>
    <input type="email" name="email" placeholder="Your email" id="useremail" required>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password" required>

    <label for="password">Confirm Password</label>
    <input type="password" name="confirm_password" placeholder="Confirm Password" id="password" required>

    <!-- <input type="submit" value="SignUp"> -->
    <button>Sign Up</button>
    
</form>