<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            <%=title%>
        </h1>
        
        <h1>Hi! <%=user.name%> || <%=user.email%>, You have successfully logged in!!!</h1>
        

    